@import "../../constants/styles/width.scss";

.page {
  display: flex;
  flex-direction: column;
  background: #e4e1d9 url("./seamless_paper_texture.png");
  min-height: 100vh;

  .page__content {
    flex-grow: 1;
  }

  .page__footer {
    flex-shrink: 0;
  }
}
