.employees-list-mobile {}

.employees-list-mobile__item {
  margin: 0 0 20px;
}

.employees-list-item {
  position: relative;
  background: #fcf6ed;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 4px #aaa;
}

.employees-list-item__link {
  &:focus::after,
  &:hover::after {
    background: rgba(#e0dad1, 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
